.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.body.a:link {
    color: theme('colors.logo-green');
    background-color: transparent;
    text-decoration: none;
  }
  
.body.a:visited {
    color: theme('colors.logo-purple');
    background-color: transparent;
    text-decoration: none;
  }
  
.body.a:hover {
    color: theme('colors.logo-blue');
    background-color: transparent;
    text-decoration: underline;
  }