---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="About" sideBarActiveItemID="about">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Hi there! I'm Jason Adle. I'm a transportation planner, urbanist, technology enthusiast, sysadmin-in-training, and developer-in-progress.

   <br><br>My background is primarily in geography and urban planning, through which I've gained exposure to coding and development both for direct projects and indirect/ancillary work. I also enjoy working on things and learning more in my free time.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">FAQs</div>
  </div>

  <div class="mb-5">
    <h1 class="text-2xl w-full font-bold">Where do you live?</h1>
    <p class = "mt-5">📍<a href="https://www.openstreetmap.org/relation/5396194" class="text-logo-green hover:text-logo-blue">Washington, DC</a></p>
  </div>

  <div class="mb-5">
    <h1 class="text-2xl w-full font-bold">What's your experience?</h1>
    <p class = "mt-5">Excellent question. A very brief variant of my resume is available on the <a href="/resume" class="text-logo-green hover:text-logo-blue">Resume</a> section of this site. Some projects I've worked on throughout my career (and some personal projects) are linked in the <a href="/blog" class="text-logo-green hover:text-logo-blue" >Projects</a> section.</p>
  </div>


</BaseLayout>
