---
import SocialIcon from "../components/SocialIcon.astro";
---

<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <a
        href="https://letterbird.co/me-3fc4a475/"
        target="_blank"
        class="mx-3"
        aria-label="Email"
        title="Email me"
    >
    <SocialIcon id="email"></SocialIcon>
    </a>
    <a href="https://linkedin.com/in/jadle" target="_blank" class="mx-3" aria-label="Linkedin" title="Linkedin">
     <SocialIcon id="linkedin"></SocialIcon>
    <a href="https://github.com/jasonad123" target="_blank" class="mx-3" aria-label="Github" title="Github">
    <SocialIcon id="github"></SocialIcon>
    </a>
    <a href="https://instagram.com/jasonlikeusual" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">
        <SocialIcon id="instagram"></SocialIcon>
    </a>
</div>
