html,
body {
  color: #d8d8d8;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  padding: 20px;
}

.frame-content {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.9rem;
}
.frame-content img {
  max-width: 100%;
}